<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/layui/css/layui.css">

</head>
<body>
<div class="layui-layout layui-layout-admin" id="layui_layout">
    <!-- 顶部区域 -->
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <!-- logo区域 -->
            <div class="admin-logo-box">
                <a class="logo" href="http://www.kuxuebao.net" title="logo">后台管理系统</a>
                <div class="larry-side-menu">
                    <i class="fa fa-bars" aria-hidden="true" style="margin-top:8px;"></i>
                </div>
            </div>
            <!-- 右侧导航 -->
            <ul class="layui-nav larry-header-item">
                <li class="layui-nav-item">
                    账户名：${admin}
                </li>
                <li class="layui-nav-item">
                    <a href="../backstage/managerlogin.jsp">
                        <i class="iconfont icon-exit"></i>
                        退出</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧侧边导航开始 -->
    <div class="layui-side layui-side-bg layui-larry-side" id="larry-side">
        <div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">

            <!-- 左侧菜单 -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;" data-url="main.html">
                        <i class="iconfont icon-home1" data-icon='icon-home1'></i>
                        <span>后台首页</span>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli"></i>
                        <span>用户管理</span>
                        <em class="layui-nav-more"></em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_user_add2.jsp">
                                <i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
                                <span>添加用户</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_user_del2.jsp">
                                <i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
                                <span>删除用户</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_user_list2.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>查看用户</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_user_modify.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>修改用户</span>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli"></i>
                        <span>商品管理</span>
                        <em class="layui-nav-more"></em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_good_add2.jsp">
                                <i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
                                <span>添加商品</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_good_del2.jsp">
                                <i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
                                <span>删除商品</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_good_list2.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>查看商品</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_good_modify2.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>修改商品</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_good_vidio_add.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>添加介绍视频</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_good_vidio_del.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>删除介绍视频</span>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli"></i>
                        <span>管理员管理（超管）</span>
                        <em class="layui-nav-more"></em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_manager_add2.jsp">
                                <i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
                                <span>添加管理员</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_manager_del2.jsp">
                                <i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
                                <span>删除管理员</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_manager_list2.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>查看管理员</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_manager_modify.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>修改管理员</span>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="iconfont icon-jiaoseguanli"></i>
                        <span>留言管理</span>
                        <em class="layui-nav-more"></em>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_message_del.jsp">
                                <i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>
                                <span>删除留言</span>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="../backstage/manager_message_list.jsp">
                                <i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>
                                <span>查看留言</span>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!-- 左侧侧边导航结束 -->
    <!-- 右侧主体内容 -->
    <div class="layui-body" id="larry-body" style="bottom: 0;border-left: solid 2px #2299ee;">
        <div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
            <div class="go-left key-press pressKey" id="titleLeft" title="滚动至最右侧"><i
                    class="larry-icon larry-weibiaoti6-copy"></i></div>
            <ul class="layui-tab-title">
                <li class="layui-this" id="admin-home"><i class="iconfont icon-diannao1"></i><em>后台首页</em></li>
            </ul>
            <div class="go-right key-press pressKey" id="titleRight" title="滚动至最左侧"><i
                    class="larry-icon larry-right"></i></div>
            <div class="layui-tab-content" style="min-height: 150px; ">
                <div class="layui-tab-item layui-show">
                    <iframe class="larry-iframe" data-id='0' src="main.html"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部区域 -->
    <div class="layui-footer layui-larry-foot" id="larry-footer">
        <div class="layui-mian">
            <p class="p-admin">
                <span>2017 &copy;</span>
                涵小涵 版权所有
            </p>
        </div>
    </div>
</div>
<!-- 加载js文件-->
<script src="/layui/layui.js"></script>

</body>
</html>